/* App.css */

/* 設置整體的字型和背景顏色 */
body {
  font-family: Arial, sans-serif;
  background-color: #E9E3E6;
  margin: 0;
  padding: 0;
}

/* 主要容器 */
.container {
  max-width: 500px;
  margin: auto;
  background-color: #dbd3d8;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* 標題 */
h1 {
  color: #333;
  font-size: 40px;
}

/* 描述文字 */
.description {
  color: #555;
  font-size: 20px;
}

/* 輸入框樣式 */
input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #827081;
  outline: none;
}

/* 結果顯示樣式 */
.result {
  margin-top: 20px;
}

/* 按鈕容器 */
.button-container {
  display: flex;
  justify-content: center;
}

/* 按鈕樣式 */
.select-button {
  background-color: #9A8F97;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.select-button:hover {
  background-color: #5d565b;
}

.clear-button {
  background-color: #9A8F97;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clear-button:hover {
  background-color: #5d565b;
}

.delet-button {
  background-color: #9A8F97;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delet-button:hover {
  background-color: #5d565b;
}


/* 歷史紀錄樣式 */
h3 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background-color: #736F72;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

li button:hover {
  background-color: #080708;
}
